ActivePerl-5.28.1.0000-MSWin32-x64-f7fd6fde.msi
en_wsj.model.gz
brown.csv.zip
brown.csv
hunpos-1.0-win.zip
Lingua-EN-Tagger-0.31.tar.gz
english.model
Lingua-EN-Tagger-0.31.tar
ca01.txt
make-4.3.tar
make-4.3.tar.gz
RULE_BASED_TAGGER_V.1.14.tar
RULE_BASED_TAGGER_V.1.14.tar.Z
strawberry-perl-5.30.1.1-32bit.msi
tablas_latex.xlsx
tarea4.bib
tarea4_2.bib
tarea_tema4.pdf
tema4.pdf
tree-tagger-windows-3.2.2.zip
yamcha-0.33.zip
hunpos-1.0-win/
Lingua-EN-Tagger-0.31/
make-4.3/
RULE_BASED_TAGGER_V1.14/
yamcha-0.33/